<app-title [title]="title"></app-title>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
            <th scope="col">RG</th>
            <th scope="col">IdDepartamento</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let emp of employees">
            <th scope="row">{{emp.Id}}</th>
            <td>{{emp.Name}}</td>
            <td>{{emp.RG}}</td>
            <td>{{emp.DepartmentId}}</td>
        </tr>
    </tbody>
</table>